<div class="topbar" id="top">
 <div class="header6">
   <div class="container po-relative">
    <nav class="navbar navbar-expand-lg h6-nav-bar">
      <!-- <a href="index.html" class="navbar-brand"><img src="/images/white-text.png" alt="wrapkit" /></a> -->
      <a href="/" class="navbar-brand logo"style='color:black;'><i class="fas fa-users"></i> Hire-HELP</a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#h6-info" aria-controls="h6-info" aria-expanded="false" aria-label="Toggle navigation"><span class="ti-menu"></span></button>
       <div class="collapse navbar-collapse hover-dropdown font-14 ml-auto" id="h6-info">
         <ul class="navbar-nav ml-auto">
           <li class="nav-item"> 
             <a class="nav-link" href="/" style='color:black;'>
				 <strong>Home</strong>
             </a>
           </li>
           <li class="nav-item"> 
             <a class="nav-link" href="/posts"style='color:black;'>
              <strong>Listings</strong>
             </a>
           </li>
		   <li class="nav-item"> 
             <a class="nav-link" href="/stories"style='color:black;'>
              <strong>Stories</strong>
             </a>
           </li>
           <% if(!currentUser) { %>
           <li class="nav-item"> 
             <a class="nav-link" href="/register"style='color:black;'>
              <strong>Register</strong>
             </a>
           </li>
           <li class="nav-item"> 
             <a class="nav-link" href="/login"style='color:black;'>
              <strong>Login</strong>
             </a>
           </li>
           <% } else { %>
           <li class="nav-item"> 
             <a class="nav-link" href="/posts/new"style='color:black;'>
              <strong>New Listing</strong>
             </a>
           </li>
           <li class="nav-item"> 
             <a class="nav-link" href="/profile"style='color:black;'>
              <strong>Profile</strong>
             </a>
           </li>
           <li class="nav-item"> 
             <a class="nav-link" href="/logout"style='color:black;'>
              <strong>Logout</strong>
             </a>
           </li>
           <% } %>
         </ul>
         <% if(currentUser) { %>
         <div class="act-buttons">
            <a href="#" class="btn btn-danger-gradiant font-14">Welcome, <%= currentUser.username %>!</a>
         </div>
         <% } %>
       </div>
     </nav>
   </div>
 </div>
</div>