<% layout('layouts/boilerplate3') -%>

<div class="container" style='background: #1c92d2;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f2fcfe, #1c92d2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
'>
	<h2 style='margin:10% 0% 5% 0%;'>Some of our happy <i class="far fa-laugh-beam"></i> customers and workers gave their testimonials.</h2>
	
	<h4>By Customers</h4>
	<h5>
		"It's so easy than running around to agencies (Connected with Babysitters)
Thanks again, I doubtfully used your service and it turned out to be well, it's so easy than running around to agencies."
		              - Mark
	</h5>
	<h5>
		"Nice platform to hire according to your needs (Connected with Cook cum Housekeeping Maid)."  - Stacey
	</h5>
	<h5>
		"Easy and Convenient (Connected with Cooks)
I was looking for a good cook, Hire HELP recommended 10-12 cooks on day 1 staying around my area. Could hire the cook within 3 days. An easy and convenient way of getting the required manpower with least expense. Thanks, Hire HELP."   - Ricky
	</h5>
	<h5>
		"Brilliantly designed application to help people connect with helpers for all their daily chores requirements at a very reasonable price. Neatly designed UI with a very accurate background location detection, nothing like the other reviews based on inaccurate location detection. Brilliant team as they seek to solve every issue that any user encounters."  - Shawn
	</h5>
	<h5>
		"Great experience so far. Worked with them twice and both the times they have helped in a professional manner. Way better than the local agencies who are mostly crooks. My recommendation would be if they can also look at providing 24hrs helpers.....Thank you" - Michelle
	</h5>
	<h4>By Workers</h4>
	<h5>
		"Hire HELP played a very important role in my life as it provided me a way of employment in my toughest of times, that was after the Covid-19 Lockdown. As my previous employer fired me, I had no source of income but Hire HELP came across as a boon to me and it gave me a platform where I could list myself and make myself employable." - Dave(Plumber)
	</h5>
	<h5>
		"The team at Hire HELP has always provided support and has always reached out to me with various opportunities. I am proud to be a part of Hire HELP organisation."  - Betty(Housekeeping Maid)
	</h5>
	<h5>
		"I was not much sure when I was first thinking of listing myself at Hire HELP but when I contacted their recruiters regarding this, they gave me full belief that I will be able to find work near my place and I will be always greatful to them for this." - Kevin(Carpenter)
	</h5>
	<h5>
		"To be honest, Hire HELP is such a place where each and every worker is treated equally, there is no heirarchy here and that's what I love about it. The recruiters who want to hire us for relevant jobs contact us directly, without the role of any middlemen in between." - Henry(Construction Site Labour)
	</h5>
	<h5>
		"Hire HELP is by far, the best thing a skilled worker like me, can come accross, with ample of opportunities and wide userbase. It helps in making the best use of our skills." - Tara(Salon Worker)
	</h5>
</div>